
Rapport_Exo2.docx
JOUSSELIN_Projet_Exo2_Regression_Classification/Stats_projet_2_REGRESSION_CLASSIFICATION.ipynb
JOUSSELIN_Projet_Exo2_Regression_Classification/Rapport_Classification_et_regression_JOUSSELIN.pdf
JOUSSELIN_Projet_Exo2_Regression_Classification.zip
